// Global font and size variables
$font-family-base: 'Poppins', Arial, Helvetica, sans-serif;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-md: 1.1rem;
$font-size-sm: 0.98rem;
$font-weight-base: 400;
$font-weight-bold: 600;
